# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.pot
*.py[co]
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environments
venv/
env/
*.egg-info/
.eggs/
.venv/
.pipenv/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# Testing
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Deployment
*.pid

# Miscellaneous
.DS_Store
Thumbs.db
.env.*
.env