[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0.2"
djangorestframework = "~=3.14.0"
djangorestframework-simplejwt = "~=5.3.1"
django-cors-headers = "~=4.3.1"
python-dotenv = "~=1.0.1"
psycopg2-binary = "~=2.9.9"
pillow = "==10.2.0"
django-filter = "~=23.5"
drf-yasg = "~=1.21.7"
dj-database-url = "==2.1.0"
gunicorn = "==21.2.0"
python-socketio = "==5.11.1"
python-engineio = "==4.9.0"
channels = "~=4.0.0"
channels-redis = "~=4.2.0"
daphne = "==4.1.0"
uvicorn = "==0.27.1"
factory-boy = "==3.3.0"
whitenoise = "~=6.6.0"

[dev-packages]
pytest = "~=7.4.4"
pytest-django = "~=4.7.0"
pytest-asyncio = "~=0.23.3"
pytest-cov = "~=4.1.0"
black = "~=24.1.1"
flake8 = "~=7.0.0"
isort = "~=5.13.2"
mypy = "~=1.8.0"
django-stubs = "~=4.2.7"
djangorestframework-stubs = "~=3.14.7"
types-requests = "~=2.31.0.20240125"
types-python-dateutil = "~=2.8.19.20240106"

[requires]
python_version = "3.11"
